# Ignore node modules
node_modules
npm-debug.log
yarn-error.log
package-lock.json
yarn.lock

# Ignore Docker-related files
.dockerignore
Dockerfile

# Ignore git files
.git
.gitignore

# Ignore build artifacts
dist
build
